.textarea {
    -fx-font-family: "Monospace";
    -fx-text-fill: red;
}

.query-editor {
    -fx-font-family: "Monospace";
}

.table-view {
    -fx-font-family: "Monospace";
}

.null {
    -fx-background-color: lightgray;
    -fx-alignment: center;
}

.table-row-cell:selected .null {
    -fx-background-color: -fx-table-cell-border-color;
    -fx-text-fill: black;
}