.root {
/*
    -fx-font-size: 26pt;
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
*/
}

.context-menu {
    -fx-font-family: sans-serif;
}

.error-text {
    -fx-font-family: "Monospace";
    -fx-text-fill: red;
}

.query-editor {
    -fx-font-family: "Monospace";
}

.table-view {
    -fx-font-family: "Monospace";
}

.value-label {
    -fx-font-weight: bold;
}

.table-column {
    -fx-alignment: center-left;
    /*-fx-font-size: smaller;*/
}
/*
.table-row-cell {
    -fx-cell-size: 20px;
}*/

.table-row-cell .null {
    -fx-background-color: lightgray;
    -fx-alignment: center;
}

.table-row-cell:selected .null {
    -fx-background-color: -fx-table-cell-border-color;
    -fx-text-fill: black;
}

.table-row-cell .truncate {
    -fx-background-color: #c9c984;
    -fx-text-fill: black;
}

.table-row-cell:selected .truncate {
    -fx-background-color: -fx-table-cell-border-color;
    -fx-text-fill: black;
}

.primary-key {
    -fx-base: orangered;
}