.textarea {
    -fx-font-family: "Monospace";
    -fx-text-fill: red;
}

.query-editor {
    -fx-font-family: "Monospace";
}

.table-view {
    -fx-font-family: "Monospace";
}


.table-row-cell .null {
   -fx-background-color: lightgray;
    -fx-alignment: center;
}

.table-row-cell:selected .null {
    -fx-background-color: -fx-table-cell-border-color;
    -fx-text-fill: black;
}

.table-row-cell .abbrev {
    -fx-background-color: #c9c984;
     -fx-text-fill: black;
}

.table-row-cell:selected .abbrev {
    -fx-background-color: -fx-table-cell-border-color;
     -fx-text-fill: black;
}