<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="EVENTBUS" class="cruft.wtf.gimlet.util.DispatchAppender"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="EVENTBUS"/>
    </root>
</configuration>